* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
body {
    margin: 0;
    background: #fff;
}
header {
    display: grid;
    background: url(header.jpg);
    background-size: cover;
    grid-template-columns: repeat(12, 1fr);
    padding: 40px 0 30px 0;
    margin: 0;
    grid-gap: 30px;
}
header > * {
    grid-column: 3 / 11;
}
nav {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #fff;
}
nav > * {
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
nav a:hover {
    color: rgb(255, 255, 255);
    background: #000;
}
a.button{
    grid-column: 6 / 8;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background: rgb(229, 255, 79);
    padding: 15px;
    margin-bottom: 80px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 3px;
}
a.button:hover, a.button:focus {
    background: #fff;
    color: #000;
}
a.button:active {
    background: #eee;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

h1 {
    font-size: 45px;
    font-weight: 100;
    padding-bottom: 15px;
}

h2 {
    font-size: 37px;
    font-weight: 100;
    padding-bottom: 20px;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 5px;
}

h4 {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 26px;
    padding-bottom: 30px;
}

p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
    max-width: 700px;
}

hr {
    margin-top: 40px;
    margin-bottom: 30px;
}

#intro {
    margin-top: 100px;
    text-align: center;
}

#intro-text {
    display: flex;
    justify-content: center;
}

#intro-text > * {
    max-width: 600px;
 }

#intro > h1 {
    text-transform: uppercase;
}


#section-about,
#section-ui-ux-work,
#section-fine-art {
   padding: 60px 30px 30px 30px;
}

#section-about {
    background: #333;
    color: #fff;
    margin-top: 0;
}
#section-about h1 {
    color: #fff;
}

#section-about h2 {
    color: #fff;
    text-transform: uppercase;
}

#section-strengths {
    color: #fff;
    background: url(strengths.jpg);
    background-size: cover;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 35px;
    text-align: center;
}

#section-strengths h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
}

#about-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
}
#proficiencies {
    grid-column: 1;
    grid-row: 1;
    grid-column-end: 3;
}

#proficiencies-detail {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}
#proficiencies-detail > * {
    background: #fff;
    padding: 20px;
    color: #000;
    background: linear-gradient(
  	45deg, white 95%, #333 95%);
}
#employment {
    grid-column: 1;
    grid-row: 2/5;
}
#education {
    grid-column: 2;
    grid-row: 2;
}
#contact {
    grid-column: 2;
    grid-row: 3;
}

#strengths {
    grid-column: 2;
    grid-row: 3;
}

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

.project {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
}
.project-description {
    grid-column: span 8;
}
.project-role {
    grid-column: span 4;
    padding-top: 30px;
}
#section-ui-ux-work {
    color: #000;
}
#section-ui-ux-work a {
    grid-column: span 6;
}
#section-ui-ux-work a > img {
    width: 100%;
    max-width: 600px;
}
.project + .project {
    margin-top: 30px;
}
#section-fine-art {
    background: #333;
    color: #fff;
}
#section-fine-art h1 {
    margin-bottom: 15px;
}
#section-fine-art > a {
    width: 100%;
}
#section-fine-art > a > img {
    width: 100%;
    max-width: 800px;
    margin-top: 30px;
    margin-bottom: 0;
}
