* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
body {
    margin: 0;
    background: #fff;
}
header {
    display: grid;
    background: url(header.jpg);
    background-size: cover;
    grid-template-columns: repeat(12, 1fr);
    padding: 40px 0 30px 0;
    margin: 0;
    grid-gap: 30px;
}
header > * {
    grid-column: 3 / 11;
}
nav {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #fff;
}
nav > * {
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: #000;
}
nav a:hover {
    color: rgb(255, 255, 255);
    background: #000;
}
a.email {
    grid-column: 6 / 8;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    background: rgba(255,255,255,0.7);
    padding: 15px;
    margin-bottom: 80px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
}
a.email:hover, a.email:focus {
    background: rgba(255, 255, 255, 1.0);
    color: #000;
}
a.email:active {
    background: #eee;
}
a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

h1 {
    font-size: 45px;
    font-weight: 100;
    margin-bottom: 15px;

}

h2 {
    font-size: 33px;
    font-weight: 100;
    padding-bottom: 20px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}


p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px;
}

hr {
    margin-top: 40px;
    margin-bottom: 30px;
}


#intro {
    margin-top: 100px;
    margin-bottom: 10px;
}

#section-about,
#section-ui-ux-work,
#section-fine-art {
    margin: 30px 10px;
    padding: 40px 15px 30px 30px;
}
#section-about {
    background: #333;
    color: #fff;
    margin-top: 0;
}
#section-about h1 {
    color: #fff;
}
#about-container {
    display: grid;
    grid-gap: 30px;
}
#proficiencies {
    grid-column: 1;
    grid-row: 1;
    grid-column-end: 3;
}
#proficiencies-detail {
    margin: 30px 0;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
}
#proficiencies-detail > * {
    background: #fff;
    padding: 20px 20px 20px 20px;
    color: #000;
}
#employment {
    grid-column: 1;
    grid-row: 2;
}
#education {
    grid-column: 2;
    grid-row: 2;
}
#contact {
    grid-column: 2;
    grid-row: 3;
}
.project {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
}
.project-description {
    grid-column: span 8;
}
.project-role {
    grid-column: span 4;
}
#section-ui-ux-work {
    color: #000;
}
#section-ui-ux-work a {
    grid-column: span 6;
}
#section-ui-ux-work a > img {
    width: 100%;
}
.project + .project {
    margin-top: 30px;
}
#section-fine-art {
    background: #333;
    color: #fff;
}
#section-fine-art h1 {
    margin-bottom: 15px;
}
#section-fine-art > a {
    width: 100%;
}
#section-fine-art > a > img {
    width: 100%;
    max-width: 800px; 
    margin-top: 30px;
}